In [28]:
import pandas as pd
from matplotlib import pyplot as plt
import json 

global df 
df = pd.DataFrame(columns= ["Name", "Age", "Gender", "Race", "Education", "Employment_Status", "Veteran_Status"])
with open('/workspaces/refactored-pancake/data.json') as f:
    data = json.load(f)

In [29]:
from request import participant_arr

In [30]:
for x in participant_arr:
    df.loc[participant_arr.index(x)] = [x.name, x.age, x.gender, x.race, x.education, x.employment_status, x.served]

In [31]:
df

,Name,Age,Gender,Race,Education,Employment_Status,Veteran_Status
0,Nina Blackshear,63,Female,Black or African American,"Some college, no degree",No,No
1,jordan miller,26,Male,Native American or Alaskan Native,High School Diploma,No,No
2,Nate Johnston,29,Male,White or Caucasian,High School Diploma,"Yes, part time",No
3,Marlene Sullenberger,55,Female,White or Caucasian,Bachelor's Degree,"Yes, part time",No
4,Charmaine Ray,67,Female,Black or African American,Bachelor's Degree,No,No
...,...,...,...,...,...,...,...
78,Taylor Riggs,33,Male,White or Caucasian,Bachelor's Degree,No,No
79,Mark Anderson,42,Male,White or Caucasian,"Some college, no degree","Yes, full time",No
80,Cedric Graves,44,Male,Black or African American,GED or HiSET,No,No
81,conrad strader,18,Male,Black or African American,High School Diploma,No,No
82,Charles L. Yancey II,41,Male,Black or African American,"Some college, no degree",No,No